// Privacy
@use '../mixins';
@import '../variables.scss';

.privacyPage {
  display: block;
  width: 100%;
  padding: 100px 0;
  .container {
    @include mixins.container(sm);
    .privacy {
      background: $white;
      padding: 4rem;

      p {
        font-size: 16px;
        @include mixins.font-global(400);
        line-height: 1.45rem;
        color: $gray;
        margin-bottom: 1rem;
      }
    }
  }
}
