// Privacy
@use '../mixins';
@import '../variables.scss';

.privacyPage {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  .privacy {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    mix-blend-mode: plus-lighter;
    pointer-events: none;

    h1 {
      font-size: 40px;
      color: $purple;
      margin-bottom: 1rem;
      transition: font-size 0.18s ease-in-out;
      @include mixins.breakpoint(sm) {
        font-size: 90px;
      }
    }
  }
}
