// Experience
@use '../scss/mixins';
@import '../scss/variables.scss';

.experienceSection {
  display: flex;
  width: 100vw;
  height: auto;
  min-height: 60vh;
  background: $white;
  color: $dark;
  padding-top: 3rem;
  @include mixins.breakpoint(sm) {
    padding-top: 100px;
  }

  .container {
    display: flex;
    flex-direction: column;
    @include mixins.container(xl);
  }

  .heading {
    position: relative;
    font-size: 40px;
    margin: 0 0 1rem 1rem;
    line-height: 1;
    perspective: 1000px;
    @include mixins.breakpoint(sm) {
      font-size: 120px;
      margin: 0 0 2rem 4rem;
    }
    &:before {
      display: none;
      content: '04.';
      font-size: 30px;
      position: absolute;
      top: 10px;
      left: -4rem;
      color: $purple;
      @include mixins.breakpoint(sm) {
        display: block;
      }
    }
    div.parent {
      display: inline-block;
      perspective: 1000px;
      font-family: inherit;
      div {
        display: inline-block;
        font-family: inherit;
      }
    }
  }

  .cols {
    display: block;
    width: 100%;
    height: 100%;
    @include mixins.breakpoint(sm) {
      display: grid;
      gap: 0;
      grid-template-columns: repeat(12, 1fr);
      border-top: 1px solid #dbdbdb;
    }

    .sidebar {
      display: none;
      width: 100%;
      grid-column: 1 / span 3;
      padding-top: 4rem;
      @include mixins.breakpoint(sm) {
        height: 100%;
        display: block;
      }

      ul {
        width: 100%;
        margin: 0;
        padding: 1rem;
        list-style-type: none;
        padding: 2rem 0 5rem 4rem;
        li {
          @include mixins.font-global(700);
          font-size: 20px;
          line-height: 2rem;
          margin-bottom: 5px;
          &:last-child {
            margin: 0;
          }
          a {
            display: block;
            position: relative;
            text-decoration: none;
            color: lighten($gray, 20%);
            transition: all 1s cubic-bezier(0.18, 0.63, 0.28, 0.9);
            &:before {
              display: inline-flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              position: absolute;
              left: -15px;
              content: '⭥';
              width: 30px;
              height: 30px;
              opacity: 0;
              transition: all 0.18s ease-in-out;
              transition-delay: 0.1s;
            }
            &:hover {
              color: $blue;
              padding-left: 40px;
              &:before {
                left: 0;
                opacity: 1;
              }
            }
          }
        }
      }
    }

    .projects {
      display: block;
      width: 100%;
      @include mixins.breakpoint(sm) {
        grid-column: 4 / span 9;
        border-left: 1px solid #dbdbdb;
      }
      .project {
        display: block;
        padding: 1rem;
        text-decoration: none;
        color: $dark;
        @include mixins.breakpoint(sm) {
          display: grid;
          grid-template-columns: repeat(2, minmax(50%, 1fr));
          gap: 0;
          padding: 0;
        }
        &:last-of-type .projectArtwork {
          padding-bottom: 4rem;
        }
        .projectInfo {
          display: block;
          @include mixins.breakpoint(sm) {
            padding-top: 4rem;
            padding-left: 4rem;
          }
        }
        .projectArtwork {
          @include mixins.breakpoint(sm) {
            padding-left: 4rem;
            padding-top: 4rem;
            padding-bottom: 2rem;
            border-left: 1px solid #dbdbdb;
          }
        }
        &:nth-child(2n + 2) {
          .projectInfo {
            order: 2;
          }
          .projectArtwork {
            order: 1;
            margin-right: -1px;
            position: relative;
            border-left: none;
            border-right: 1px solid #dbdbdb;
          }
        }
        &:hover {
          .artwork {
            img {
              transform: scale(1.1);
            }
          }
        }
      }
      h3 {
        margin: 0 0 1rem 0;
        padding: 0 0 1rem 0;
        font-size: 30px;
        border-bottom: 1px solid #dbdbdb;
        perspective: 1000px;
        @include mixins.breakpoint(sm) {
          margin: 0 0 2rem 0;
          padding: 0 0 1.5rem 0;
          font-size: 50px;
        }
        div.parent {
          display: inline-block;
          perspective: 1000px;
          font-family: inherit;
          div {
            display: inline-block;
            @include mixins.font-heading(600);
          }
        }
      }
      h4 {
        margin: 0 0 1.5rem 0;
        font-size: 22px;
        @include mixins.breakpoint(sm) {
          font-size: 30px;
        }
      }
      p {
        @include mixins.font-global(400);
        line-height: 1.45em;
        font-size: 18px;
        color: lighten($gray, 30%);
        margin-bottom: 1.5rem;
      }
      ul {
        margin: 0 0 2rem 0;
        padding: 0;
        list-style-type: none;
        @include mixins.breakpoint(sm) {
          margin: 0;
        }
        li {
          @include mixins.font-global(400);
          line-height: 1.2em;
          font-size: 16px;
          color: lighten($gray, 30%);
          margin-bottom: 0.5rem;
          position: relative;
          padding-left: 1.5rem;
          @include mixins.breakpoint(sm) {
            font-size: 14px;
          }
          &:before {
            content: '';
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 5px;
            background: $blue;
            position: absolute;
            left: 0;
            top: 3px;
          }
        }
      }

      .artwork {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        aspect-ratio: 1 / 1;
        background: linear-gradient(
          45deg,
          rgba(126, 10, 52, 1) 0%,
          rgba(8, 9, 13, 1) 100%
        );
        overflow: hidden;
        margin: 0;
        @include mixins.breakpoint(sm) {
          aspect-ratio: 1 / 1.2;
        }
        img {
          transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
      }
    }
  }
}
