// Footer
@use '../scss/mixins';
@import '../scss/variables.scss';

.footerSection {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: auto;
  min-height: 60vh;
  background-color: $dark;
  background: radial-gradient(
    ellipse at bottom left,
    lighten($dark, 1%) 0%,
    lighten($dark, 3%) 80%
  );
  color: $white;
  padding-top: 1rem;

  .container {
    display: flex;
    flex-direction: column;
    @include mixins.container(xl);
  }

  .connections {
    display: grid;
    gap: 0;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    border-top: 1px solid lighten($dark, 20%);
    margin-bottom: 4rem;
    @include mixins.breakpoint(sm) {
      grid-template-columns: repeat(4, 1fr);
    }
    a {
      display: inline-flex;
      aspect-ratio: 2/1;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2rem;
      text-decoration: none;
      border-bottom: 1px solid lighten($dark, 20%);
      overflow: hidden; // Not needed
      @include mixins.font-global(400);
      line-height: 1.45em;
      font-size: 20px;
      color: lighten($gray, 30%);
      transition: all 0.18s ease-in-out;
      background: radial-gradient(
        ellipse at bottom left,
        lighten($dark, 1%) 0%,
        lighten($dark, 3%) 80%
      );
      @include mixins.breakpoint(sm) {
        font-size: 26px;
      }
      &:nth-child(2n + 1) {
        border-right: 1px solid lighten($dark, 20%);
      }
      span {
        display: inline-flex;
        position: relative;
        align-items: center;
        transition: all 1s cubic-bezier(0.18, 0.63, 0.28, 0.9);
        .icon {
          display: inline-block;
          position: absolute;
          left: 0;
          opacity: 0;
          font-size: 32px;
          transition: all 0.01s ease-in-out;
        }
      }
      &:hover {
        color: $white;
      }
      @include mixins.breakpoint(sm) {
        &:nth-child(2) {
          border-right: 1px solid lighten($dark, 20%);
        }
        &:hover {
          color: $white;
          span {
            padding-left: 40px;
            .icon {
              left: 0;
              opacity: 1;
              transition: all 0.18s ease-out;
              color: lighten($purple, 20%);
            }
          }
        }
      }
    }
  }

  .thanks {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 4rem;
    overflow: hidden;
    .row {
      display: flex;
      width: 100%;
      white-space: nowrap;
      position: relative;
      .marquee {
        display: flex;
        white-space: nowrap;
        animation: slide 44s linear infinite;
      }
      &:nth-child(2) {
        opacity: 0.6;
        .marquee {
          margin-left: -50%;
          animation-name: slideRight;
          animation-duration: 90s;
        }
      }
      &:nth-child(3) {
        .marquee {
          animation-duration: 60s;
        }
      }
      &:last-child {
        opacity: 1;
      }
      span {
        font-size: 30px;
        line-height: 30px;
        @include mixins.font-heading(700);
        margin: 0 8px;
        @include mixins.breakpoint(sm) {
          font-size: 5vw;
          line-height: 1;
        }
        &.purple {
          color: $purple;
        }
        &.outline {
          -webkit-text-fill-color: transparent;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: $purple;
          @include mixins.breakpoint(sm) {
            -webkit-text-stroke-width: 2px;
          }
        }
      }
    }
  }

  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }

  @keyframes slideRight {
    from {
      transform: translateX(-50%);
    }
    to {
      transform: translateX(0);
    }
  }

  .bottomCols {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-bottom: 4rem;
    @include mixins.font-global(400);
    line-height: 1.45em;
    font-size: 16px;
    color: lighten($gray, 20%);
    @include mixins.breakpoint(sm) {
      grid-template-columns: repeat(3, 1fr);
    }
    a {
      text-decoration: none;
      color: inherit;
      transition: all 0.18s ease-in-out;
      &:hover {
        color: $white;
      }
    }
    div {
      order: 2;
      @include mixins.breakpoint(sm) {
        order: 0;
      }
      &:nth-child(2) {
        text-align: center;
        order: 0;
        grid-column: 1 / span 2;
        @include mixins.breakpoint(sm) {
          order: 1;
          grid-column: 2 / span 1;
        }
      }
      &:last-child {
        order: 2;
        text-align: right;
        @include mixins.breakpoint(sm) {
          order: 3;
        }
      }
    }
  }
}
