// Hero
@use '../scss/mixins';
@import '../scss/variables.scss';

.heroSection {
  display: flex;
  width: 100vw;
  height: auto;
  min-height: calc(60vh);
  padding-top: calc(20px + 2rem);
  background: $dark;
  color: $white;
  @include mixins.breakpoint(sm) {
    min-height: 100vh;
    padding: 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    @include mixins.container(xl);
  }

  .heroContent {
    display: block;
  }

  .scrollDown {
    display: none;
    position: absolute;
    bottom: 2rem;
    left: 50%;
    margin-left: -60px;
    z-index: 5;
    @include mixins.breakpoint(sm) {
      display: inline-block;
    }
    &:before {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      content: 'scroll';
      color: white;
      font-size: 14px;
      position: absolute;
      top: -10px;
      left: 0;
      width: 100%;
      text-transform: uppercase;
      @include mixins.font-heading(600);
      opacity: 0;
      transition: all 0.75s cubic-bezier(0.18, 0.63, 0.28, 0.9);
    }
    &:hover {
      &:before {
        opacity: 1;
        top: -25px;
        color: $blue;
      }
    }
  }
  .arrowDown {
    animation: bounce 1s infinite;
  }

  @keyframes bounce {
    0% {
      opacity: 1;
      transform: scale(0.6) translate3d(0, 0, -20px);
    }
    50% {
      opacity: 1;
      transform: scale(0.7) translate3d(0, -5px, 0);
    }
    100% {
      opacity: 1;
      transform: scale(0.6) translate3d(0, 0, -20px);
    }
  }

  .heroText {
    display: flex;
    flex-direction: column;
    pointer-events: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    .brain {
      display: block;
      width: 600px;
      position: absolute;
      right: 10vw;
      top: 0;
      transform: translateX(40%) scale(0.7) translateY(-35%);
      z-index: 1;
      mix-blend-mode: color-dodge;
      @include mixins.breakpoint(sm) {
        transform: translateY(-50%);
        top: 50%;
      }
    }
    div.text {
      display: block;
      font-size: 48px;
      line-height: 1;
      margin: 0;
      opacity: 1;
      z-index: 5;
      @include mixins.breakpoint(sm) {
        font-size: 148px;
      }
      .shadow {
        @include mixins.text-gradient-vt($white, darken($white, 40%));
      }
      .stroke {
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1.5px;
        -webkit-text-stroke-color: $purple;
        @include mixins.breakpoint(sm) {
          -webkit-text-stroke-width: 3px;
        }
      }
      .purple {
        color: $purple;
      }
      &.creative {
        margin-left: 0; // Offset margin of data-scroll-speed
        width: calc(100%);
        mix-blend-mode: plus-lighter;
        @include mixins.breakpoint(sm) {
          margin-left: 1rem;
        }
      }
      &.developer {
        margin: 0 0 0 0;
        mix-blend-mode: plus-lighter;
        @include mixins.breakpoint(sm) {
          margin: -25px 0 0 105px;
        }
      }
      &.designer {
        margin: 0 0 0 0; // Offset margin of data-scroll-speed
        width: calc(100%);
        mix-blend-mode: difference;
        @include mixins.breakpoint(sm) {
          margin: -25px 0 0 calc(-2rem + 205px);
        }
      }
      i {
        position: relative;
        display: inline-block;
        @include mixins.font-heading(600);
      }
      b {
        position: absolute;
        left: -66px;
        bottom: 20px;
        z-index: -1;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-style: italic;
        font-size: 100px;
        @include mixins.text-gradient-hz(rgba($blue, 50%), $dark);
      }
    }
  }
}
