// Recommended
@use '../scss/mixins';
@import '../scss/variables.scss';

.recSection {
  display: flex;
  width: 100vw;
  height: auto;
  min-height: 100vh;
  background: $dark;
  color: $white;
  padding-top: 100px;

  .container {
    display: flex;
    flex-direction: column;
    @include mixins.container(xl);
    padding: 0;
  }

  .heading {
    position: relative;
    font-size: 120px;
    margin: 0 0 2rem 4rem;
    line-height: 1;
    -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: $blue;
    &:before {
      content: '05.';
      font-size: 30px;
      position: absolute;
      top: 10px;
      left: -4rem;
      color: $white;
      -webkit-text-fill-color: $white;
      -webkit-text-stroke-width: 0px;
    }
  }

  .recommended {
    display: grid;
    gap: 0;
    grid-template-columns: repeat(12, 1fr);
    border-top: 1px solid lighten($dark, 20%);
    height: 100%;
  }

  .controls {
    grid-column: 1 / span 3;
    border-right: 1px solid lighten($dark, 20%);
    .next,
    .prev {
      display: inline-flex;
      width: 50%;
      aspect-ratio: 1 / 1;
      color: $dark;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border-bottom: 1px solid lighten($dark, 20%);
      overflow: hidden;
      background: radial-gradient(
        ellipse at bottom left,
        lighten($dark, 0%) 0%,
        lighten($dark, 5%) 90%
      );
      &.prev {
        border-left: 1px solid lighten($dark, 20%);
        background: radial-gradient(
          ellipse at bottom left,
          lighten($dark, 0%) 0%,
          lighten($dark, 5%) 80%
        );
        div {
          transform: rotate(180deg);
        }
      }
      div {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transition: all 0.25s ease-in;
      }
      &:hover {
        span {
          animation: example forwards 0.5s ease-out;
        }
      }
      @keyframes example {
        0% {
          transform: translateX(0) translateY(0px);
          opacity: 1;
        }
        50% {
          transform: translateX(50px) translateY(-50px);
          opacity: 0;
        }
        51% {
          transform: translateX(-50px) translateY(50px);
          opacity: 0;
        }
        100% {
          transform: translateX(0px) translateY(0px);
          opacity: 1;
        }
      }
    }
  }

  .comment {
    display: block;
    position: relative;
    grid-column: 4 / span 9;
    width: 100%;
    padding: 80px 0 80px 4rem;
    height: 700px;
    blockquote {
      margin: 0;
      padding: 0;
      span {
        float: left;
        width: 200px;
        height: 80px;
      }
      big {
        font-size: 60px;
      }
    }

    .author {
      display: flex;
      flex-direction: row;
      margin-left: 200px;
      margin-top: 2rem;
      align-items: center;
      img {
        border-radius: 50%;
      }
      .authorMeta {
        margin-left: 2rem;
        h5 {
          font-size: 24px;
          line-height: 1;
          margin: 0 0 0.5rem 0;
          @include mixins.font-heading(700);
          i {
            -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: $blue;
            font-style: normal;
            font-weight: 700;
            font-size: 22px;
          }
        }
        p {
          margin: 0;
        }
      }
    }
  }
}
