// Repository
@use '../scss/mixins';
@import '../scss/variables.scss';

.repoSection {
  display: flex;
  width: 100vw;
  height: auto;
  min-height: 60vh;
  background: $dark;
  color: $white;
  padding-top: 100px;

  .container {
    display: flex;
    flex-direction: column;
    @include mixins.container(xl);
    padding: 0;
  }

  .heading {
    position: relative;
    font-size: 120px;
    margin: 0 0 2rem 4rem;
    line-height: 1;
    color: $white;
    &:before {
      content: '06.';
      font-size: 30px;
      position: absolute;
      top: 10px;
      left: -4rem;
      color: $purple;
    }
  }

  .subHeading {
    display: block;
    margin: 0 0 2rem 4rem;
    font-size: 40px;
  }

  .cols {
    display: grid;
    gap: 0;
    grid-template-columns: repeat(12, 1fr);
    height: 100%;
    border-top: 1px solid lighten($dark, 20%);

    .sidebar {
      grid-column: 1 / span 3;
    }

    .gitGrid {
      grid-column: 4 / span 9;
      border-left: 1px solid lighten($dark, 20%);
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 0;
      div {
        display: flex;
        flex-direction: column;
        aspect-ratio: 1 / 1;
        border-right: 1px solid lighten($dark, 20%);
        border-bottom: 1px solid lighten($dark, 20%);
        &:nth-child(3n + 3) {
          border-right: none;
        }
      }
    }
  }
}
