// Repository
@use '../scss/mixins';
@import '../scss/variables.scss';

.repoSection {
  display: flex;
  width: 100vw;
  height: auto;
  min-height: 70vh;
  background: lighten($dark, 3%);
  color: $white;
  padding-top: 100px;

  .container {
    display: flex;
    flex-direction: column;
    @include mixins.container(xl);
    padding: 0;
  }

  .heading {
    position: relative;
    font-size: 80px;
    margin: 0 0 2rem 4rem;
    line-height: 1;
    color: $white;
    &:before {
      content: '06.';
      font-size: 30px;
      position: absolute;
      top: 10px;
      left: -4rem;
      color: $purple;
    }
  }

  .subHeading {
    display: block;
    margin: 0 0 4rem 4rem;
    font-size: 32px;
  }

  .cols {
    display: grid;
    gap: 0;
    grid-template-columns: repeat(4, 1fr);
    height: 100%;
    border-top: 1px solid lighten($dark, 20%);
    margin-bottom: 4rem;

    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      aspect-ratio: 1 / 1;
      border-right: 1px solid lighten($dark, 20%);
      border-bottom: 1px solid lighten($dark, 20%);
      background: radial-gradient(
        ellipse at bottom left,
        lighten($dark, 1%) 0%,
        lighten($dark, 3%) 80%
      );
      padding: 2rem;
      text-decoration: none;
      &:first-child {
        background: transparent;
      }
      &:nth-child(4n + 4) {
        border-right: none;
      }
      big {
        @include mixins.font-heading(700);
        font-size: 120px;
        line-height: 1;
        color: $white;
      }
      span {
        @include mixins.font-global(400);
        line-height: 1.45em;
        font-size: 18px;
        color: lighten($gray, 30%);
        margin: 0;
      }
      input[type='url'] {
        background: $dark;
        width: 100%;
        outline: none;
        border: 1px solid rgba(lighten($dark, 40%), 0.5);
        padding: 1rem;
        margin-top: 1rem;
        color: lighten($dark, 40%);
        cursor: none !important;
      }
    }
  }
}
