// Skills
@use '../scss/mixins';
@import '../scss/variables.scss';

.skillsSection {
  display: flex;
  width: 100vw;
  height: auto;
  min-height: 90vh;
  background: $dark;
  color: $white;

  .container {
    display: flex;
    flex-direction: column;
    @include mixins.container(xl);

    .cols {
      display: block;
      width: 100%;
      @include mixins.breakpoint(sm) {
        gap: 0;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        height: 100%;
      }
      .sidebar {
        display: block;
        width: 100%;
        @include mixins.breakpoint(sm) {
          display: flex;
          height: 100%;
          grid-column: 1 / span 3;
        }
      }
      aside {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        padding: 3rem 1rem 0 1rem;
        @include mixins.breakpoint(sm) {
          display: block;
          border-right: 1px solid lighten($dark, 20%);
          padding: 80px 4rem 4rem 4rem;
        }

        h2 {
          position: relative;
          font-size: 30px;
          margin: 0 0 1rem 0;
          line-height: 1;
          @include mixins.breakpoint(sm) {
            font-size: 70px;
            margin: 0 0 2rem 0;
          }
          &:before {
            display: none;
            content: '02.';
            font-size: 30px;
            position: absolute;
            top: 7px;
            left: -4rem;
            color: $purple;
            @include mixins.breakpoint(sm) {
              display: block;
            }
          }
          &:nth-of-type(2):before {
            content: '03.';
          }
        }

        ul {
          margin: 0;
          padding: 0;
          list-style-type: none;
          &:nth-of-type(1) {
            margin-bottom: 2rem;
          }
          li {
            color: lighten($gray, 20%);
            @include mixins.font-global(500);
            font-size: 14px;
            line-height: 1.45rem;
            margin-bottom: 5px;
            @include mixins.breakpoint(sm) {
              font-size: 16px;
              line-height: 2rem;
            }
          }
        }
      }
      .main {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        padding: 1rem;
        @include mixins.breakpoint(sm) {
          gap: 0;
          grid-column: 4 / span 9;
          padding: 90px 4rem 0 4rem;
        }
        .textBlock {
          display: block;
          height: auto;
          grid-column: 1 / span 2;

          p {
            color: lighten($gray, 40%);
            @include mixins.font-global(400);
            line-height: 1.45em;
            font-size: 20px;
            margin-bottom: 1rem;
            @include mixins.breakpoint(sm) {
              font-size: 34px;
            }
          }
        }
        .col {
          display: block;
          @include mixins.breakpoint(sm) {
            border-right: 1px solid lighten($dark, 20%);
          }
          .card {
            display: block;
            margin-bottom: 2rem;
            @include mixins.breakpoint(sm) {
              margin-bottom: 4rem;
            }
          }
          .desc {
            padding: 0;
            @include mixins.breakpoint(sm) {
              padding: 0 4 rem 0 0;
            }
          }
          + .col {
            border-right: none;
            .desc {
              padding: 0;
              @include mixins.breakpoint(sm) {
                padding: 0 0 0 4rem;
              }
            }
            h3 {
              padding-left: 0rem;
              @include mixins.breakpoint(sm) {
                margin-left: 4rem;
              }
            }
          }
          h3 {
            margin: 0 0 1rem 0;
            padding: 0 0 1rem 0;
            font-size: 20px;
            border-bottom: 1px solid lighten($dark, 20%);
            @include mixins.breakpoint(sm) {
              margin: 0 0 2rem 0;
              font-size: 50px;
            }
          }
          p {
            @include mixins.font-global(400);
            line-height: 1.45em;
            font-size: 14px;
            color: lighten($gray, 40%);
            @include mixins.breakpoint(sm) {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}
