// Header
@use '../../scss/mixins';
@import '../../scss/variables.scss';

.header {
  display: block;
  width: 100%;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  @include mixins.breakpoint(sm) {
    position: fixed;
  }

  .container {
    display: flex;
    flex-direction: row;
    @include mixins.container(xl);
  }

  .uixmat {
    display: inline-flex;
    padding: 2rem;
    align-items: center;
    @include mixins.font-global(700);
    font-weight: bold;
    font-size: 20px;
    background-color: $white;
    border-bottom: 3px solid $purple;
    width: 100%;
    @include mixins.breakpoint(sm) {
      width: auto;
    }
    a {
      display: inline-flex;
      text-decoration: none;
      font-weight: 700;
      color: $dark;
      span {
        @include mixins.text-gradient-hz($blue, $purple);
        font-weight: 700;
      }
      &:first-child {
        padding-right: 10px;
        margin-right: 10px;
        border-right: 1px solid #ccc;
      }
      + a {
        font-size: 16px;
        color: lighten($gray, 10%);
        padding: 0 5px;
        opacity: 0.5;
        transition: all 0.18s ease-in-out;
        &:hover {
          color: $blue;
          opacity: 1;
        }
      }
    }
  }
}
