@use './mixins';
@use './variables' as *;
@import './normalize';
@import './nprogress';

@import url('https://use.typekit.net/oun8ody.css');

* {
  box-sizing: border-box;
  @include mixins.font-global;
}

body,
html {
  background: $dark;
}

h1,
h2,
h3,
h4 {
  @include mixins.font-heading(700);
}

a,
a:active,
a:focus {
  outline: none;
}

::selection {
  background: rgba($purple, 0.8);
  color: $dark;
  -webkit-text-fill-color: $dark;
  -webkit-text-stroke: 0px;
}
::-moz-selection {
  background: rgba($purple, 0.8);
  color: $dark;
  -webkit-text-fill-color: $dark;
  -webkit-text-stroke: 0px;
}

.c-scrollbar_thumb {
  background-color: $purple !important;
  opacity: 1 !important;
}

[data-scroll-container] {
  perspective: 999999px !important;
}

input[type='url'].copied {
  animation: copied forwards 1s ease-in;
}

@keyframes copied {
  0% {
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0);
  }
  50% {
    box-shadow: 0 0 0 5px rgba($blue, 0.5);
  }
  100% {
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0);
  }
}

.cursor {
  position: fixed;
  left: -10px;
  top: -10px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: rgba($blue, 0.5);
  backdrop-filter: blur(2px);
  z-index: 9995;
  pointer-events: none;
  transition: all 0.18s ease;
  opacity: 0;
  &:before {
    content: '';
    transform: scale(0);
  }
  &.grow {
    width: 60px;
    height: 60px;
    top: -15px;
    left: -15px;
    border-width: 3px;
    opacity: 1;
  }
  &.project {
    width: 100px;
    height: 100px;
    top: -50px;
    left: -50px;
    background-color: rgba($blue, 0.5);
    backdrop-filter: blur(2px);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    &:before {
      position: relative;
      top: 2px;
      content: url('/svg/eye.svg');
      animation: growIn 0.18s ease forwards;
      transform: scale(1);
      transform-origin: center center;
    }
  }
  &.copy {
    width: 120px;
    height: 120px;
    left: -50px;
    top: -50px;
    background-color: rgba($blue, 0.7);
    backdrop-filter: blur(2px);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    &:before {
      content: 'Click to copy';
      font-size: 16px;
      text-align: center;
      padding: 15px;
      color: $white;
      animation: growIn 0.18s ease forwards;
      transform-origin: center center;
      transform: scale(1);
    }
  }
  &.hidden {
    opacity: 0;
  }
}

@keyframes growIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
